<div class="container">
  <h5 class="my-3">View Batches</h5>

  <div class="card">
    <div class="card-body">
      <div class="alert alert-success" role="alert" *ngIf="batchsucces">
        <i class="fa fa-check"></i> Batch updated successful.
      </div>
      <div class="position-relative" [hidden]="opendtp == false">
        <div class="card position-absolute border-secondary dtp-pickerwrapper">
          <div class="card-body">
            <dl-date-time-picker startView="month" maxView="year" minView="month" [(ngModel)]="selectedDate"
              (change)="changeDate()">
            </dl-date-time-picker>
          </div>
        </div>
      </div>

      <div class="position-relative">
        <span class="text-primary font-weight-bold border-bottom border-primary">Batches of -
          {{ selectedDate | date: "MMMM, yyyy" }}</span>
      </div>

      <div class="position-relative text-right dtp-cardwrapper">
        <span class="text-danger mx-3 font-weight-bold" *ngIf="errorMsg">
          <i class="fa fa-exclamation-triangle"></i> {{ errorMsg }}</span>
        <i class="fa fa-lg py-3 cursor-pointer text-secondary"
          [ngClass]="{ 'fa-window-close': opendtp, 'fa-bars': !opendtp }" (click)="toggleDTP()"></i>
      </div>

      <div class="table-responsive">
        <table class="table table-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Batch id</th>
              <th scope="col">Manufacture Date</th>
              <th scope="col">Product Name</th>
              <th scope="col" class="text-right">Quantity Produced</th>
              <th scope="col" class="text-right">Quantity Remained</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let batch of allbatches; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#viewBatchModal"
                  (click)="viewBatchDetails(batch)">
                  {{ batch.batchid }}
                </a>
              </td>
              <td>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#viewBatchModal"
                  (click)="viewBatchDetails(batch)">
                  {{ batch.manufacdate | date: "dd-MM-yyyy" }}
                </a>
              </td>
              <td>{{ batch.prodname }}</td>
              <td class="text-right">
                {{ batch.qtyproduced | number: "1.3-3" }}
              </td>
              <td class="text-right">
                {{ batch.qtyremained | number: "1.3-3" }}
              </td>
              <td>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#viewBatchModal"
                  (click)="viewBatchDetails(batch)">Edit</a>
              </td>
            </tr>

            <tr *ngIf="!allbatches">
              <td colspan="7">
                <h6 class="text-danger mt-3">
                  <i class="fa fa-exclamation-triangle"></i> There are no batches yet
                </h6>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="viewBatchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" *ngIf="selectedbatch">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ selectedbatch.prodname.split(".")[1] }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <label class="m-0">Batch Id</label>
            <input type="text" class="form-control" placeholder="Batch Id" [value]="selectedbatch.batchid" readonly />
          </div>
          <div class="col-md-3 col-sm-12">
            <label class="m-0">Product Name</label>
            <input type="text" class="form-control" placeholder="Product Name" [(ngModel)]="selectedbatch.prodname"
              disabled />
          </div>
          <div class="col-md-3 col-sm-12">
            <label class="m-0">Manufacture Date</label>
            <input type="text" class="form-control" placeholder="Batch Id" [(ngModel)]="selectedbatch.manufacdate" />
          </div>
          <div class="col-md-3 col-sm-12">
            <label class="m-0">Quantity Produced</label>
            <input type="text" class="form-control" placeholder="Quantity Produced"
              [(ngModel)]="selectedbatch.qtyproduced" [disabled]="
                originalbatch.qtyproduced != originalbatch.qtyremained
              " />
            <label class="h6 m-0 text-primary">Quantity Remained:
              <span class="font-weight-bold">
                {{selectedbatch.qtyremained}}
              </span>
              tons
            </label>
          </div>
          <div class="col-md-12 col-sm-12">
            <p class="text-primary" *ngIf="batchdispatches==false">
              <i class="fa fa-pulse fa-spinner"></i> Please wait, checking for dispatches...
            </p>
            <p class="mb-1" *ngIf="batchdispatches">
              <a class="btn-link font-weight-bold" data-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-truck"></i> Click to view "Dispatches" for this batch
              </a>
            </p>
            <div class="collapse mb-3" id="collapseExample" *ngIf="batchdispatches">
              <div class="card card-body px-4 py-2 bg-light">
                <p class="mb-1">This batch is used for the following dispatches</p>
                <ul class="list-group">
                  <li class="list-group-item d-flex align-items-center p-2"
                    *ngFor="let disp of batchdispatches; let i=index">
                    Dispatch Date:
                    <span class="font-weight-bold badge badge-info badge-pill mx-2">
                      {{disp.dispatchdate | date: 'dd-MM-yyyy'}}
                    </span>
                    / DC No.: <span class="font-weight-bold badge badge-danger badge-pill mx-2">{{disp.dcno}}</span>
                    / Quantity: <span class="badge badge-primary badge-pill ml-1">{{disp.quantity}} tons</span>
                    <span class="mx-3 font-weight-bold">-</span>
                    <span *ngIf="disp.invoicedetails == null">
                      <a href="javascript:void(0);" (click)="getInvoiceDetails(disp, i)">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> Get Invoice Details
                      </a>
                    </span>
                    <span *ngIf="disp.invoicedetails == false">
                      <i class="fa fa-pulse fa-spinner" aria-hidden="true"></i> Please wait...
                    </span>
                    <span *ngIf="disp.invoicedetails && disp.invoicedetails != 'nodata'">
                      Invoice Date:
                      <span class="font-weight-bold badge badge-info badge-pill mx-2">
                        {{disp.invoicedetails.billdt | date: 'dd-MM-yyyy'}}
                      </span>
                      / Invoice No: <span
                        class="font-weight-bold badge badge-danger badge-pill mx-2">{{disp.invoicedetails.billno}}</span>
                      / Total Amount:
                      <span class="badge badge-primary badge-pill ml-1">{{disp.invoicedetails.totalamount}}</span>
                    </span>
                    <span *ngIf="disp.invoicedetails && disp.invoicedetails == 'nodata'"
                      class="text-danger font-weight-bold">
                      No Invoice Created Yet
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <hr *ngIf="batchdispatches">
            <h5 class="text-info">All Raw Materials Used</h5>
            <table class="table table-sm">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Raw Material</th>
                  <th scope="col">Quantity Used (bags/tons)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let rawmat of selectedbatchmaterials; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ rawmat.name }}</td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="rawmat.rawmatqty" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="saveBatch()"
          [disabled]="disablesavebtn">
          Save Batch
        </button>
      </div>
    </div>
  </div>
</div>