<div class="container">
  <h5 class="my-3">View Product</h5>
  <div class="card">
    <div class="card-body">
      <div class="alert alert-success" role="alert" *ngIf="successMsg">
        {{ successMsg }}
      </div>
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);" (click)="activetab = 1"
            [ngClass]="{ active: activetab == 1 }">Active Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);" (click)="activetab = 2"
            [ngClass]="{ active: activetab == 2 }">Deactive Products</a>
        </li>
      </ul>

      <table class="table" *ngIf="allproducts && activetab == 1">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">HSN Code</th>
            <th scope="col">Deactive</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prods of allproducts; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ prods.prodname }}</td>
            <td>{{ prods.hsncode }}</td>
            <td>
              <a href="javascript:void(0);" class="text-primary mr-3" data-toggle="modal"
                data-target="#editProductModal" (click)="selectProduct(prods)">
                <i class="fa fa-pencil"></i> Edit</a>
              <a href="javascript:void(0);" class="text-danger" (click)="deactivateProduct(prods)">
                <i class="fa fa-eye-slash"></i> Deactivate</a>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table" *ngIf="all_deactive_products && activetab == 2">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">HSN Code</th>
            <th scope="col">Deactive</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prods of all_deactive_products; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ prods.prodname }}</td>
            <td>{{ prods.hsncode }}</td>
            <td>
              <a href="javascript:void(0);" class="text-success" (click)="activateProduct(prods)">
                <i class="fa fa-eye"></i> Activate</a>
            </td>
          </tr>
        </tbody>
      </table>

      <strong *ngIf="
          (!allproducts && activetab == 1) ||
          (!all_deactive_products && activetab == 2)
        " class="text-danger font-weight-bold">
        <i class="fa fa-times"></i> There are no products as of now.
        <a [routerLink]="['/addproduct']">Add New</a>
      </strong>
    </div>
  </div>
</div>

<!-- Product Edit Modal -->
<div class="modal" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" *ngIf="selectedprod">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3 col-sm-12 mb-3">
            <label class="m-0">Edit Product Name</label>
            <input type="text" class="form-control" placeholder="Enter Product Name"
              [(ngModel)]="selectedprod.prodname" />
          </div>
          <div class="col-md-3 col-sm-12 mb-3">
            <label class="m-0">Edit HSN Code</label>
            <input type="text" class="form-control" placeholder="Edit HSN Code" [(ngModel)]="selectedprod.hsncode" />
          </div>
          <div class="col-sm-12 col-md-3 mb-3" *ngIf="editstockbal">
            <label class="m-0">Opening Stock Balance</label>
            <input type="text" class="form-control" placeholder="This field cannot be empty."
              [(ngModel)]="editstockbal.quantity" [disabled]="disable_editbal" />
          </div>
          8 <div class="col-sm-12 col-md-3 mb-3" *ngIf="editstockbal">
            <label class="m-0">Opening Stock Date</label>
            <input type="text" class="form-control" placeholder="This field cannot be empty."
              [(ngModel)]="editstockbal.date" (blur)="autoFillDt()" />
          </div>
          <div class="col-sm-12 col-md-12 text-primary" *ngIf="!editstockbal">
            <span><i class="fa fa-pulse fa-spinner"></i> Please wait, loading stock
              quantity.</span>
          </div>
          <div class="col-sm-12 col-md-12 text-danger" *ngIf="!openbalfound">
            <span>
              <i class="fa fa-exclamation"></i> NOTE: There is no opening
              balance for current financial year, Kindly update atleast once the
              Opening Stock Balance mentioned above. <br />The "Opening Stock
              Balance" shown is the current stock of "{{
                selectedprod.prodname
              }}" and todays date, please press "Update Product".
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="updateProduct(selectedprod, 1)" data-dismiss="modal"
          aria-label="Close" [disabled]="
            !editstockbal || !selectedprod.hsncode || !selectedprod.prodname
          ">
          Update Product
        </button>
      </div>
    </div>
  </div>
</div>