<div class="overlay"></div>
<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <img src="/assets/images/stopsign.png" alt="Un-Authorised" width="100%" />
        </div>
        <div class="col-md-10">
          <div class="my-5">
            <h3 class="text-danger">STOP!!! We are sorry, but you are "NOT AUTHORISED". </h3>
            <h4 class="text-danger">Please wait while we are redirect you to our <span
                class="text-info">homepage</span>.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>