header {
  background-color: #ffffff;
}

a {
  cursor: pointer;
}

.navbar-brand {
  color: #029545;
  font-weight: 500;
}

@media (min-width: 768px) {
  .loginform {
    width: 25rem;
  }
}

.menus li:first-child {
  text-transform: uppercase;
}

.menus li {
  text-transform: capitalize;
}

.loginoverlay{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  width: 100%;
}

.fa.fa-pulse.fa-spinner.position-absolute{
  top: 35%;
  margin-left: -20px;
}