<div class="container">
  <h5 class="my-3">View Purchases</h5>

  <div class="card">
    <div class="card-body">

      <h6>
        <span class="border-bottom border-primary">Purchase A/c For -
          <span class="font-weight-bold" *ngIf="!customfrom || !customto">{{monthlabel}}</span>
          <span class="font-weight-bold" *ngIf="customfrom && customto">{{customfrom | date: 'dd-MMM, yyyy'}} -
            {{customto | date: 'dd-MMM, yyyy'}}</span>
        </span>
      </h6>

      <h6>
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-1">Period:</div>
          <div class="col-md-2">
            <label class="m-0">From</label>
            <input type="text" class="form-control form-control-sm" placeholder="From Date" [(ngModel)]="fromdt"
              (blur)="autofillfromdt()" />
          </div>
          <div class="col-md-2">
            <label class="m-0">To</label>
            <input type="text" class="form-control form-control-sm" placeholder="To Date" [(ngModel)]="todt"
              (blur)="autofilltodt()" />
          </div>
          <div class="col-md-2">
            <button class="btn btn-info mt-3" (click)="filterData()"><i class="fa fa-filter"></i>
              Filter</button>
          </div>
        </div>
      </h6>

      <div class="table-responsive my-2">
        <table class="table table-sm">
          <caption *ngIf="totalbags > 0">
            Total Number of Bags purchased between these dates are: {{ totalbags }} Bags
          </caption>
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Arrival Date</th>
              <th scope="col">Bill No.</th>
              <th scope="col">Bill Date</th>
              <th scope="col">Supplier</th>
              <th scope="col" class="text-right">Quantity</th>
              <th scope="col" class="text-right pr-3">Amount</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let purch of allpurchases; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#detailsModal"
                  (click)="viewPurchaseDetails(purch)">
                  {{ purch.arrivaldt | date: "dd-MM-yyyy" }}
                </a>
              </td>
              <td>{{ purch.billno }}</td>
              <td>{{ purch.billdt | date: "dd-MM-yyyy" }}</td>
              <td>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#purchasepayhist"
                  (click)="openPurchHistoryModal(purch)">
                  {{ purch.name }}
                </a>
              </td>
              <td class="text-right">
                <span *ngIf="purch.rawmatname.toLowerCase().indexOf('bag') > -1">
                  {{ purch.quantity }} Bags
                </span>

                <span *ngIf="purch.rawmatname.toLowerCase().indexOf('bag') == -1">
                  {{ purch.quantity | number: "1.3-3" }}
                </span>
              </td>
              <td class="text-right pr-3">
                {{ purch.totalamount | currency: "INR" }}
              </td>
              <td>
                <a href="javascript:void(0);" (click)="editPurchase(purch)">Edit</a>
              </td>
            </tr>
            <tr *ngIf="allpurchases" class="text-primary">
              <td colspan="5" class="text-right font-weight-bold">
                Total </td>
              <td class="font-weight-bold text-right">
                {{ totalqty | number: "1.3-3" }}
              </td>
              <td class="font-weight-bold text-right pr-3">
                {{ totalamt | currency: "INR" }}
              </td>
              <td></td>
            </tr>
            <tr *ngIf="!allpurchases" class="text-danger">
              <td colspan="5">
                <i class="fa fa-exclamation-triangle"></i> There aren't any
                reports available for selected date
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal Purchase Payment History -->
<div class="modal" id="purchasepayhist" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Supplier Payment History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 class="text-secondary">To edit payment details, please go to <a [routerLink]="[ '/purchasepayments']"
            data-dismiss="modal">"Purchase Payments"</a>
        </h6>
        <div class="col-md-12" #purchasepayhistory></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  *ngIf="selectedpurchase">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ selectedpurchase.arrivaldt | date: "dd-MM-yyyy" }} -
          {{ selectedpurchase.name }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <label class="m-0">Arrival Date: </label>
            <input type="text" [value]="selectedpurchase.arrivaldt | date: 'dd-MM-yyyy'" class="form-control"
              readonly />
          </div>
          <div class="col-md-4">
            <label class="m-0">Bill Date: </label>
            <input type="text" [value]="selectedpurchase.billdt | date: 'dd-MM-yyyy'" class="form-control" readonly />
          </div>
          <div class="col-md-4">
            <label class="m-0">Bill Number: </label>
            <input type="text" [value]="selectedpurchase.billno" class="form-control" readonly />
          </div>
          <div class="col-md-3 mt-3">
            <label class="m-0">DC Number: </label>
            <input type="text" [value]="selectedpurchase.dcno" class="form-control" readonly />
          </div>
          <div class="col-md-3 mt-3">
            <label class="m-0">Vehical Number: </label>
            <input type="text" [value]="selectedpurchase.vehicalno" class="form-control" readonly />
          </div>
          <div class="col-md-6 mt-3">
            <label class="m-0">Supplier: </label>
            <input type="text" [value]="selectedpurchase.name" class="form-control" readonly />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <table class="table table-sm">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Raw Material</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Discount</th>
                  <th scope="col">Amount Before GST</th>
                  <th scope="col">CGST / SGST / IGST (%)</th>
                  <th scope="col">Round Off</th>
                  <th scope="col">Total Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>{{ selectedpurchase.rawmatname }}</td>
                  <td>{{ selectedpurchase.quantity }}</td>
                  <td>{{ selectedpurchase.amount | currency: "INR" }}</td>
                  <th>{{ selectedpurchase.discount | currency: "INR" }}</th>
                  <td>
                    {{
                      selectedpurchase.amount - selectedpurchase.discount
                        | currency: "INR"
                    }}
                  </td>
                  <td>
                    {{ selectedpurchase.cgst }} / {{ selectedpurchase.sgst }} /
                    {{ selectedpurchase.igst }}
                  </td>
                  <td>{{ selectedpurchase.roundoff | currency: "INR" }}</td>
                  <td>{{ selectedpurchase.totalamount | currency: "INR" }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>