<div class="container">
  <h5 class="my-2 noprint">O Form</h5>

  <div class="card position-relative">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <img
            src="./assets/images/logo.jpg"
            alt="Green Top Organics"
            width="150px"
            class="position-absolute"
          />
          <h5 class="text-center font-weight-bold mt-3">FORM "O"</h5>
          <p class="text-center font-weight-bold">[See Clause 8 and 11]</p>
          <p class="text-center font-weight-bold">
            CERTIFICATE OF SOURCE FOR CARRYING ON THE BUSINESS OF SELLING <br />
            FERTILISERS IN WHOLESALE/RETAIL/FOR INDUSTRIAL USE
          </p>
          <h1 class="issuedStatus text-primary noprint">ISSUED</h1>
          <h6 class="text-right text-muted noprint p-0 m-0">
            Last Issued on: 10/10/2020
          </h6>
          <button
            class="btn btn-primary btn-sm float-right noprint"
            data-toggle="modal"
            data-target="#oformconfirmation"
            (click)="issueOFormConfirmation()"
            disabled
          >
            Issue O-Form
          </button>
          <button
            class="btn btn-warning btn-sm float-right noprint mx-5"
            disabled
          >
            New O-Form
          </button>
        </div>
      </div>
      <div class="row mt-5 ml-5">
        <div class="col-md-1 col-sm-1 text-right">No:</div>
        <div class="col-md-2 col-sm-2 border-dark border-bottom">
          <input
            type="text"
            class="form-control form-control-sm mb-1"
            [(ngModel)]="oformno"
          />
        </div>
        <div class="col"></div>
        <div class="col-md-1 col-sm-1 text-right">Date:</div>
        <div class="col-md-2 col-sm-2 border-dark border-bottom">
          <input
            type="text"
            class="form-control form-control-sm mb-1"
            [(ngModel)]="oformdate"
            (blur)="autoFillDt()"
          />
        </div>
      </div>
      <div class="row mt-3 ml-5">
        <div class="col-md-12">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td colspan="2">
                  <span class="font-weight-bold">
                    1. Particulars of the concern issuing the certificate of
                    source.</span
                  >
                </td>
              </tr>
              <tr>
                <td>(a) Name and full address:</td>
                <td>
                  <h6 class="font-weight-bold">
                    Green Top Organics <br />{{ companyaddress }} <br />
                    State: Maharashtra.
                  </h6>
                </td>
              </tr>
              <tr>
                <td>(b) Status:</td>
                <td>
                  <ol type="i">
                    <li>State Government</li>
                    <li>Manufacturer</li>
                    <li>Pool handling agency</li>
                    <li>
                      Wholesale dealer <i class="fa fa-check text-primary"></i>
                      <span class="float-right"> Self Manufacturer </span>
                    </li>
                    <li>Importer</li>
                  </ol>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  (c) If manufacturer of mixture of fertilisers, the details of
                  certificate of manufacture of mixture of fertilisers
                  possessed:
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <ol type="i">
                    <li>
                      Number
                      <div class="float-right font-weight-bold">LCFD100158</div>
                    </li>
                    <li>
                      Date of Issue
                      <div class="float-right font-weight-bold">
                        12 May 2020
                      </div>
                    </li>
                    <li>
                      Date of expiry
                      <div class="float-right font-weight-bold">
                        11 May 2025
                      </div>
                    </li>
                    <li>
                      Grades of mixturers of fertilisers <br />
                      allowed to be manufactured
                      <div class="float-right font-weight-bold">
                        Organic Manure (N+P+K > 3.0%)
                      </div>
                    </li>
                    <li>
                      Authority by whom issued
                      <div class="float-right font-weight-bold">
                        Commissionerate Of Agriculture, <br />
                        Maharashtra State, Pune.
                      </div>
                    </li>
                  </ol>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  (d) Details of certificate of registration :
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <ol type="i">
                    <li>
                      Number
                      <div class="float-right font-weight-bold">LCFD100158</div>
                    </li>
                    <li>
                      Date of Issue
                      <div class="float-right font-weight-bold">
                        12 May 2020
                      </div>
                    </li>
                    <li>
                      Date of expiry
                      <div class="float-right font-weight-bold">
                        11 May 2025
                      </div>
                    </li>
                    <li>
                      Authority by whom issued
                      <div class="float-right font-weight-bold">
                        Commissionerate Of Agriculture, <br />
                        Maharashtra State, Pune.
                      </div>
                    </li>
                  </ol>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <span class="font-weight-bold">
                    2. Particulars of the person to whom the certificate of
                    source is being issued.
                  </span>
                </td>
              </tr>
              <tr>
                <td>(a) Name and full address:</td>
                <td>
                  <h6 class="font-weight-bold" *ngIf="custdetails">
                    {{ custdetails.name }} <br />{{ custdetails.address }}.
                    <br />
                    State: {{ custdetails.state }}.
                  </h6>
                </td>
              </tr>
              <tr>
                <td>(b) Status:</td>
                <td>
                  <ol type="i" class="float-left">
                    <li>
                      <input
                        type="checkbox"
                        class="noprint"
                        (change)="
                          wholesale_dealer = !wholesale_dealer;
                          updateWholesaleDealerStatus()
                        "
                      />
                      {{ wholesale_dealer_text }}
                      <span *ngIf="wholesale_dealer" class="mx-3">
                        <i class="fa fa-check text-primary"></i>
                      </span>
                    </li>
                    <li>
                      <input
                        type="checkbox"
                        class="noprint"
                        (change)="
                          retail_dealer = !retail_dealer;
                          updateRetailDealerStatus()
                        "
                      />
                      {{ retail_dealer_text }}
                      <span *ngIf="retail_dealer" class="mx-3">
                        <i class="fa fa-check text-primary"></i>
                      </span>
                    </li>
                    <li>
                      <input
                        type="checkbox"
                        class="noprint"
                        (change)="
                          industrial_dealer = !industrial_dealer;
                          updateIndustrialDealerStatus()
                        "
                      />
                      {{ industrial_dealer_text }}
                      <span *ngIf="industrial_dealer" class="mx-3">
                        <i class="fa fa-check text-primary"></i>
                      </span>
                    </li>
                  </ol>
                  <div class="float-right"></div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  (c) If holds a valid certificate of registration, the details
                  thereof:
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <ol type="i">
                    <li>
                      Number
                      <div class="float-right" *ngIf="custdetails">
                        {{ custdetails.licenseno }}
                      </div>
                    </li>
                    <li>
                      Date of Issue
                      <div class="float-right" *ngIf="custdetails">
                        {{ custdetails.licenseissuedt | date: "dd/MM/yyyy" }}
                      </div>
                    </li>
                    <li>
                      Date of expiry
                      <div class="float-right" *ngIf="custdetails">
                        {{ custdetails.licenseexpirydt | date: "dd/MM/yyyy" }}
                      </div>
                    </li>
                    <li>
                      Authority by whom issued
                      <div
                        class="float-right"
                        *ngIf="custdetails"
                        style="max-width: 300px"
                      >
                        {{ custdetails.licenseauthority }}
                      </div>
                    </li>
                  </ol>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  (d) Purpose of obtaining the certificate of source:
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <ol type="i">
                    <li>
                      <input
                        type="checkbox"
                        class="noprint"
                        (change)="fresh_cert = !fresh_cert"
                      />
                      For obtaining a fresh certificate of registration
                      <span *ngIf="fresh_cert" class="mx-3">
                        <i class="fa fa-check text-primary"></i>
                      </span>
                    </li>
                    <li>
                      <input
                        type="checkbox"
                        class="noprint"
                        (change)="renew_cert = !renew_cert"
                      />
                      For Renewal of the certificate of registration
                      <span *ngIf="renew_cert" class="mx-3">
                        <i class="fa fa-check text-primary"></i>
                      </span>
                    </li>
                  </ol>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <span class="font-weight-bold">
                    3. Details of fertiliser(s) to be supplied:
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="pt-0">
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th class="pt-0 text-center">S. No. <br />(1)</th>
                        <th class="pt-0 text-center">
                          Name of fertilisers<br />(2)
                        </th>
                        <th class="pt-0 text-center">
                          Trade mark / Brand name<br />(3)
                        </th>
                      </tr>
                    </thead>
                    <tbody *ngIf="prodlist">
                      <tr *ngFor="let prod of prodlist; let i = index">
                        <td class="text-center">({{ i + 1 }})</td>
                        <td class="text-center">Organic Manure</td>
                        <td class="text-center">
                          <span contenteditable="true">
                            {{ prod.brandname }}
                          </span>
                          <span class="float-right">
                            <a
                              href="javascript:void(0);"
                              (click)="removeProductFromList(index)"
                              class="noprint"
                            >
                              <i class="fa fa-times text-danger"></i>
                            </a>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <span class="font-weight-bold">4. Declaration:</span> Declared
                  that the fertilisers mentioned above will be supplied
                  conforming to the standards laid down under the Fertiliser
                  (Control)Order, 1985 and, as the case may be,
                  grades/formulations (of mixtures of fertilisers) notified by
                  the Central/State Government and packed and marked in
                  container as provided under clause 21 of the Fertiliser
                  (Control) Order, 1985
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <br /><br /><br />
                  Signature with stamp of the <br />
                  <strong>Authorised Officer</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product Edit Modal -->
<div
  class="modal"
  id="oformconfirmation"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Are you sure to Issue O-Form?
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">No: {{ oformno }}</div>
          <div class="col-md-6">
            Date:
            <span *ngIf="oformdate; else elseTemplate">
              {{ oformdate }}
            </span>
            <ng-template #elseTemplate>
              <span class="text-danger">Please select date</span>
            </ng-template>
          </div>
          <div class="col-md-12 mt-3">
            <p class="p-0 m-0">
              2. Particulars of the person to whom the certificate of source is
              being issued.:
            </p>
          </div>
          <div class="col-md-6">STATUS:</div>
          <div class="col-md-6">
            <ng-container
              *ngIf="status && status.length > 0; else statusTemplate"
            >
              <div *ngFor="let stat of status">{{ stat }}</div>
            </ng-container>
            <ng-template #statusTemplate>
              <span class="text-danger">Atleast select 1 status</span>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button
          type="button"
          class="btn btn-warning"
          (click)="updateProduct(selectedprod, 1)"
          data-dismiss="modal"
          aria-label="Close"
        >
          Update Product
        </button> -->
      </div>
    </div>
  </div>
</div>
