<div class="container-fluid">
  <h5 class="my-3">Tax Invoice</h5>

  <div class="card">
    <div class="card-body">
      <div class="alert alert-success" role="alert" *ngIf="successmsg">
        <i class="fa fa-check"></i> Bill Details added successfully.
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12 mb-3">
          <label class="w-100 m-0"
            >Select Order
            <span
              class="float-right btn-link cursor"
              *ngIf="selectedorder"
              data-toggle="modal"
              data-target="#orderDetailsModal"
              (click)="getOrderConsignees()"
              >More details
              <i class="fa fa-info-circle text-primary"></i>
            </span>
          </label>
          <select
            class="form-control"
            [(ngModel)]="selectedorder"
            (change)="selectOrder()"
            [disabled]="!openorders"
          >
            <option
              value="{{ order.orderid }}"
              *ngFor="let order of openorders"
            >
              GTO-{{ order.orderno }} Dated:
              {{ order.orderdt | date: "dd-MM-yyyy" }}
            </option>
          </select>
        </div>
        <div class="col-md-3 col-sm-12 mb-3" *ngIf="orderdetails">
          <label class="m-0">Delivery Challan No.</label>
          <input
            type="text"
            class="form-control"
            [value]="dcdetails"
            readonly
          />
        </div>
        <div class="col-md-2 col-sm-12 mb-3">
          <h5 class="m-0 font-weight-bold">Invoice Number</h5>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="billno"
            placeholder="Invoice Number"
          />
        </div>
        <div class="col-md-3 col-sm-12 mb-3">
          <h5 class="m-0 font-weight-bold">Invoice Date</h5>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="billdate"
            (blur)="autoFillDate()"
            placeholder="Invoice Date"
          />
        </div>
        <div class="col-md-12 col-sm-12 mb-3">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customControlAutosizing"
              [(ngModel)]="autocalc"
            />
            <label class="custom-control-label" for="customControlAutosizing"
              >Auto-Calculate</label
            >
          </div>
          <span
            class="float-left text-primary font-weight-bold"
            *ngIf="orderdetails"
          >
            <span
              >Order Quantity:
              <u>{{ orderdetails.quantity }} tons</u> &nbsp;</span
            >
            <span *ngIf="orderdetails.packingkgs"
              >| Packing (Kg): <u>{{ orderdetails.packingkgs }}</u> &nbsp;</span
            >
            <span *ngIf="orderdetails.noofbags"
              >| No. of Bags: <u>{{ orderdetails.noofbags }}</u></span
            >
          </span>
        </div>
        <div class="col-md-3 col-sm-12 mb-3">
          <label class="m-0">Rate </label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="rate"
            placeholder="Rate"
            (blur)="calculateAmt()"
            [disabled]="!orderdetails"
          />
        </div>
        <div class="col-md-3 col-sm-12 mb-3">
          <label class="m-0">Amount</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="amount"
            placeholder="Amount"
            (blur)="calculateAmt()"
            [disabled]="!orderdetails"
          />
        </div>
        <div class="col-md-3 col-sm-12 mb-3">
          <label class="m-0">Discount</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="discount"
            placeholder="Discount"
            (blur)="calculateAmt()"
            [disabled]="!orderdetails"
          />
        </div>
        <div class="col-md-3 col-sm-12 mb-3">
          <label class="m-0">Amount before GST</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="amtbeforegst"
            placeholder="Amount Before GST"
            (blur)="calculateAmt()"
            [disabled]="!orderdetails"
          />
        </div>
        <div class="col-md-3 col-sm-12 mb-3">
          <label class="m-0">CGST (%)</label>
          <span class="float-right text-info" *ngIf="cgstinr">
            {{ cgstinr | currency: "INR" }}
          </span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cgst"
            placeholder="CGST in %"
            (blur)="calculateAmt()"
            [disabled]="!orderdetails"
          />
        </div>
        <div class="col-md-3 col-sm-12 mb-3">
          <label class="m-0">SGST (%)</label>
          <span class="float-right text-info" *ngIf="sgstinr">
            {{ sgstinr | currency: "INR" }}
          </span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="sgst"
            placeholder="SGST in %"
            (blur)="calculateAmt()"
            [disabled]="!orderdetails"
          />
        </div>
        <div class="col-md-2 col-sm-12 mb-3">
          <label class="m-0">IGST (%)</label>
          <span class="float-right text-info" *ngIf="igstinr">
            {{ igstinr | currency: "INR" }}
          </span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="igst"
            placeholder="IGST in %"
            (blur)="calculateAmt()"
            [disabled]="!orderdetails"
          />
        </div>
        <div class="col-md-2 col-sm-12 mb-3">
          <label class="m-0">Round Off (+/-)</label>
          <input
            type="text"
            class="form-control"
            placeholder="Round Off (+/-)"
            [(ngModel)]="roundoff"
            (blur)="calculateAmt()"
            [disabled]="!orderdetails"
          />
        </div>
        <div class="col-md-2 col-sm-12 mb-3">
          <label class="m-0">Total Amount</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="totalamount"
            placeholder="Total Amount"
            (blur)="calculateAmt()"
            [disabled]="!orderdetails"
          />
        </div>
        <div class="col-md-12 col-sm-12 mb-3">
          <label class="m-0">Discount Remarks</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="discountremarks"
            placeholder="Discount Remarks"
            [disabled]="!orderdetails"
          />
        </div>
        <div class="col-md-12 col-sm 12 mb-3">
          <button
            class="btn btn-primary mr-3"
            title="This button will save the details and will close the order bill"
            [disabled]="
              !orderdetails ||
              !billno ||
              !billdate ||
              !rate ||
              !amount ||
              !amtbeforegst ||
              !totalamount ||
              disablesavebtn
            "
            (click)="saveBillDetails()"
          >
            Save Bill
          </button>
        </div>
        <div class="col-md-12 col-sm-12 mb-3">
          <h6 class="text-danger">
            <i class="fa fa-exclamation"></i> Note: Order will be closed once
            billing details are added.
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Order Details Modal -->
<div
  class="modal"
  id="orderDetailsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" *ngIf="orderdetails">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Order Id:
          <span class="text-info font-weight-bold"
            >GTO-{{ orderdetails.orderno }}</span
          >
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-1">
        <div class="row">
          <div class="col-md-4 col-sm-12 mb-1">
            <label class="m-0">Customer Name</label>
            <input
              type="text"
              class="form-control"
              [value]="orderdetails.name"
              readonly
            />
          </div>
          <div class="col-md-4 col-sm-12 mb-1">
            <label class="m-0">Order Date</label>
            <input
              type="text"
              class="form-control"
              value="{{ orderdetails.orderdt | date: 'dd-MM-yyyy' }}"
              readonly
            />
          </div>
          <div class="col-md-4 col-sm-12 mb-1">
            <label class="m-0">Contact Number</label>
            <input
              type="text"
              class="form-control"
              value="{{ orderdetails.contactno }}"
              readonly
            />
          </div>
          <div class="col-md-4 col-sm-12 mb-1">
            <label class="m-0">Quantity</label>
            <input
              type="text"
              class="form-control"
              value="{{ orderdetails.quantity }}"
              readonly
            />
          </div>
          <div class="col-md-4 col-sm-12 mb-1">
            <label class="m-0">Address</label>
            <input
              type="text"
              class="form-control"
              value="{{ orderdetails.address }}"
              readonly
            />
          </div>
          <div class="col-md-4 col-sm-12 mb-1">
            <label class="m-0">Order Sent to</label>
            <input
              type="text"
              class="form-control"
              value="{{ orderdetails.remarks }}"
              readonly
            />
          </div>
          <div class="col-md-12 col-sm-12 my-1">
            <h6 class="text-primary">
              <span *ngIf="orderdetails.remarks == 'SELF'"
                >Self Order Address</span
              >
              <span *ngIf="orderdetails.remarks == 'CONSIGNEE'"
                >All Consignees</span
              >
            </h6>
            <table class="table table-sm">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Contact Person</th>
                  <th scope="col">Contact Number</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">City</th>
                  <th scope="col">Address</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let consignee of allconsignees; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ consignee.contactperson }}</td>
                  <td>{{ consignee.contactnumber }}</td>
                  <td>{{ consignee.quantity }}</td>
                  <td>{{ consignee.city }}</td>
                  <td>{{ consignee.address }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
