<div class="companyheader">
  <div class="row">
    <div class="col-md-3">
      <img src="./assets/images/logo.jpg" alt="Green Top Organics" width="200px" class="float-left" />
    </div>
    <div class="col-md-8">
      <div class="header-content">
        <h3 class="text-success">GREEN TOP ORGANICS</h3>
        <p class="mb-2">
          <span>{{companyaddress}}</span>
          <br>
          <strong>Email:</strong> {{email}} <strong>Mob:</strong> 9168327860, 8806535982.
          <br>
        </p>
        <h6 class="text-danger font-weight-bold">GSTIN NO. 27ABEPT3181E1ZM</h6>
      </div>
    </div>
  </div>
</div>