@media print {
  @page {
    size: auto;
    margin: 0;
    /* margin: 2cm 0 0.5cm; */
  }

  #monthlypurchasereport,
  #monthlypurchasereport *,
  #allsalesreports,
  #allsalesreports * {
    visibility: visible;
    overflow: visible;
    font-size: 9px;
  }

  #printDispatchChallan {
    visibility: visible;
    overflow: visible;
    /* font-size: 11px; */
  }

  .card {
    border: 0px;
  }

  div.header-content {
    margin-left: 230px;
  }

  .companyheader img {
    position: absolute;
    top: 0;
  }

  .text-white {
    color: #000 !important;
  }

  .noprint {
    display: none;
  }
}
