<div class="container-fluid my-5">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center text404 m-0">
        404
      </h1>
      <h1 class="title text-dark text-center font-weight-bold">
        Oops! Page not found
      </h1>
      <h1 class="subtitle text-secondary text-center font-weight-bold">
        We're sorry, the page you requested could not be found. Please
        <a [routerLink]="['/index']">go back</a> to the homepage.
      </h1>
    </div>
  </div>
</div>
