<div class="card">
  <div class="card-body">
    <h5 class="text-primary">
      <span class="border-bottom border-primary">Current stocks</span>
    </h5>
    <div class="row">
      <div
        class="col-sm-12 text-right"
        [ngClass]="{
          'col-md-4': hidegraph == false,
          'col-md-12': hidegraph == true
        }"
      >
        <a
          href="javascript:void(0);"
          class="border-bottom"
          (click)="hidegraph = !hidegraph"
        >
          <span *ngIf="!hidegraph">Hide Graph</span>
          <span *ngIf="hidegraph">Show Graph</span>
        </a>
        <div id="container" [hidden]="hidegraph"></div>
      </div>
      <div
        class="col-sm-12 mb-3"
        *ngIf="allstock"
        [ngClass]="{
          'col-md-8': hidegraph == false,
          'col-md-12': hidegraph == true
        }"
      >
        <h6 class="text-dark text-uppercase font-italic font-weight-bold">
          Raw Materials
        </h6>
        <table class="table table-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col">
                Raw Material
              </th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let stock of allstock"
              [ngClass]="{ 'd-none': stock.rawmatid == null }"
            >
              <td>
                <a
                  href="javascript:void(0);"
                  data-toggle="modal"
                  data-target="#stockHistoryModal"
                  (click)="selectRawMaterialOrProduct(stock)"
                >
                  {{ stock.name }}
                </a>
              </td>
              <td>{{ stock.quantity | number: "1.3-3" }}</td>
            </tr>
          </tbody>
        </table>

        <h6 class="text-dark text-uppercase font-italic font-weight-bold">
          Finished Products
        </h6>
        <table class="table table-sm">
          <thead class="table-success">
            <tr>
              <th scope="col">Product Name</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let stock of allstock"
              [ngClass]="{
                'd-none': stock.rawmatid != null || stock.prodid == null
              }"
            >
              <td>
                <a
                  href="javascript:void(0);"
                  data-toggle="modal"
                  data-target="#stockHistoryModal"
                  (click)="selectRawMaterialOrProduct(stock)"
                >
                  {{ stock.prodname }}</a
                >
              </td>
              <td>{{ stock.quantity | number: "1.3-3" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Stock History for Raw Materials -->
<div
  class="modal fade"
  id="stockHistoryModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  *ngIf="selectedmat"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLabel">
          <span *ngIf="selectedmat.rawmatid">{{ selectedmat.name }}</span>
          <span *ngIf="!selectedmat.rawmatid">{{ selectedmat.prodname }}</span>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Opening Stock</th>
              <th scope="col">In/OUT</th>
              <th scope="col">Quantity</th>
              <th scope="col">Closing Stock</th>
              <th scope="col">Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hist of this.histarr; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ hist.date | date: "dd-MM-yyyy" }}</td>
              <td>{{ hist.openingstock | number: "1.3-3" }}</td>
              <td>{{ hist.inout }}</td>
              <td>{{ hist.quantity | number: "1.3-3" }}</td>
              <td>{{ hist.closingstock | number: "1.3-3" }}</td>
              <td>{{ hist.remarks }}</td>
            </tr>
            <tr *ngIf="this.histarr.length <= 0">
              <td colspan="7" class="text-danger">
                <i class="fa fa-exclamation-triangle"></i> There isn't any
                history available for this
                <span *ngIf="selectedmat.rawmatid">Raw Material</span>
                <span *ngIf="!selectedmat.rawmatid">Product</span>
                as of this financial year.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
