<div class="container">
  <h5 class="my-3">View All Orders</h5>

  <div class="card">
    <div class="card-body">
      <h6>
        <span class="border-bottom border-primary">Orders -
          <span class="font-weight-bold" *ngIf="!customfrom || !customto">{{monthlabel}}</span>
          <span class="font-weight-bold" *ngIf="customfrom && customto">{{customfrom | date: 'dd-MMM, yyyy'}} -
            {{customto | date: 'dd-MMM, yyyy'}}</span>
        </span>
      </h6>
      <h6>
        <div class="row">
          <div class="col-md-6 my-2">
            <button class="btn btn-sm mr-2" (click)="filterOrders('all');"
              [ngClass]="{'btn-primary': selectedstatus == 'all', 'btn-outline-primary': selectedstatus != 'all'}">Actual</button>
              <span>=</span>
            <button class="btn btn-sm mx-2" (click)="filterOrders('open');"
              [ngClass]="{'btn-primary': selectedstatus == 'open', 'btn-outline-primary': selectedstatus != 'open'}">Open</button>
              <span>+</span>
            <button class="btn btn-sm mx-2" (click)="filterOrders('dispatched');"
              [ngClass]="{'btn-primary': selectedstatus == 'dispatched', 'btn-outline-primary': selectedstatus != 'dispatched'}">Dispatched</button>
              <span>+</span>
            <button class="btn btn-sm mx-2" (click)="filterOrders('closed');"
              [ngClass]="{'btn-primary': selectedstatus == 'closed', 'btn-outline-primary': selectedstatus != 'closed'}">Closed</button>
              <span>-</span>
            <button class="btn btn-sm mx-2" (click)="filterOrders('cancelled');"
              [ngClass]="{'btn-primary': selectedstatus == 'cancelled', 'btn-outline-primary': selectedstatus != 'cancelled'}">Cancelled</button>
          </div>
          <div class="col-md-1">Period:</div>
          <div class="col-md-2">
            <label class="m-0">From</label>
            <input type="text" class="form-control form-control-sm" placeholder="From Date" [(ngModel)]="fromdt"
              (blur)="autofillfromdt()" />
          </div>
          <div class="col-md-2">
            <label class="m-0">To</label>
            <input type="text" class="form-control form-control-sm" placeholder="To Date" [(ngModel)]="todt"
              (blur)="autofilltodt()" />
          </div>
          <div class="col-md-1">
            <button class="btn btn-info mt-3 btn-sm" (click)="filterData()">
              Filter</button>
          </div>
        </div>
      </h6>

      <div class="table-responsive my-2">
        <table class="table table-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Order Date</th>
              <th scope="col">Order No.</th>
              <th scope="col">Client Name</th>
              <th scope="col">Product</th>
              <th scope="col" class="text-right">
                <span class="mr-2">Quantity</span>
              </th>
              <th scope="col">Order Status</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of allorders; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModal"
                  (click)="selectOrder(order)">
                  {{ order.orderdt | date: "dd-MM-yyyy" }}
                </a>
              </td>
              <td>{{ order.orderno }}</td>
              <td>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#salespayhist"
                  (click)="openSaleHistoryModal(order)">
                  {{ order.name }}
                </a>
              </td>
              <td>{{ order.prodname }}</td>
              <td class="text-right">
                <span class="mr-2">{{ order.quantity | number: "1.3-3" }}</span>
              </td>
              <td class="text-capitalize">{{ order.status }}</td>
              <td>
                <a href="javascript:void(0);" [routerLink]="['/editorder', order.orderid]"
                  *ngIf="order.status == 'open'">
                  Edit
                </a>
              </td>
            </tr>
            <tr class="text-right text-primary" *ngIf="allorders">
              <th colspan="5">
                Total of {{ selecteddate | date: "MMM, yyyy" }}
              </th>
              <th>
                <span class="mr-2">{{ totalquantity | number: "1.3-3" }}</span>
              </th>
              <th colspan="2"></th>
            </tr>
            <tr *ngIf="!allorders">
              <th colspan="7" class="text-danger">
                <i class="fa fa-exclamation-triangle"></i> There are no orders
                present for this month.
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal Sale Payment History -->
<div class="modal" id="salespayhist" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Customer Payment History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 class="text-secondary">To edit payment details, please go to <a [routerLink]="[ '/salepayments']"
            data-dismiss="modal">"Sale Payments"</a>
        </h6>
        <div class="col-md-12" #salespayhistory></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Order Details-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" *ngIf="selectedorder">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLabel">
          {{ selectedorder.orderno }} | {{ selectedorder.orderdt | date: 'dd-MM-yyyy' }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-1">
        <div class="row">
          <div class="col-md-4 col-sm-12 mb-1">
            <label class="m-0">Customer Name</label>
            <input type="text" class="form-control" [value]="selectedorder.name" readonly />
          </div>
          <div class="col-md-4 col-sm-12 mb-1">
            <label class="m-0">Address</label>
            <input type="text" class="form-control" value="{{ selectedorder.address }}" readonly />
          </div>
          <div class="col-md-4 col-sm-12 mb-1">
            <label class="m-0">Contact Number</label>
            <input type="text" class="form-control" value="{{ selectedorder.contactno }}" readonly />
          </div>
          <div class="col-md-4 col-sm-12 mb-1">
            <label class="m-0">Product Name</label>
            <input type="text" class="form-control" value="{{ selectedorder.prodname }}" readonly />
          </div>
          <div class="col-md-4 col-sm-12 mb-1">
            <label class="m-0">Quantity</label>
            <input type="text" class="form-control" value="{{ selectedorder.quantity }}" readonly />
          </div>
          <div class="col-md-4 col-sm-12 mb-1">
            <label class="m-0">Order Sent to</label>
            <input type="text" class="form-control" value="{{ selectedorder.remarks }}" readonly />
          </div>
          <div class="col-md-4 col-sm-12" *ngIf="dispatchdetails">
            <label class="m-0">DC. No.</label>
            <input type="text" class="form-control" [(ngModel)]="dispatchdetails.dcno" readonly />
          </div>
          <div class="col-md-4 col-sm-12" *ngIf="dispatchdetails">
            <label class="m-0">Dispatch Date</label>
            <input type="text" class="form-control" [(ngModel)]="viewdispatcheddate" readonly />
          </div>
          <div class="col-md-4 col-sm-12" *ngIf="dispatchdetails">
            <label class="m-0">Vehicle No.</label>
            <input type="text" class="form-control" [(ngModel)]="dispatchdetails.vehicalno" readonly />
          </div>
          <div class="col-md-12 col-sm-12 my-1">
            <p class="text-primary" *ngIf="dispatchbatches==false">
              <i class="fa fa-pulse fa-spinner"></i> Please wait, checking for batches used...
            </p>
            <hr class="my-2" *ngIf="dispatchbatches" />
            <p class="mb-1" *ngIf="dispatchbatches">
              <a class="btn-link font-weight-bold" data-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-truck"></i> Click to view "Batches" for this dispatch
              </a>
            </p>
            <div class="collapse" id="collapseExample" *ngIf="dispatchbatches">
              <div class="card card-body px-4 py-2 bg-light">
                <p class="mb-1">This dispatch used the following batches</p>
                <ul class="list-group">
                  <li class="list-group-item d-flex align-items-center p-2" *ngFor="let disp of dispatchbatches">
                    Batch Date: <span
                      class="font-weight-bold badge badge-info badge-pill mx-2">{{disp.manufacdate | date: 'dd-MM-yyyy'}}</span>
                    / Batch ID: <span
                      class="badge badge-danger badge-pill font-weight-bold mx-2">{{disp.batchid}}</span>
                    / Quantity: <span class="badge badge-primary badge-pill ml-1">{{disp.quantity}} tons</span>
                  </li>
                </ul>
              </div>
            </div>
            <hr class="my-2" *ngIf="dispatchbatches">

            <h6 class="text-primary">
              <span *ngIf="selectedorder.remarks == 'SELF'">Self Order Address</span>
              <span *ngIf="selectedorder.remarks == 'CONSIGNEE'">All Consignees</span>
            </h6>
            <table class="table table-sm">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Contact Person</th>
                  <th scope="col">Contact Number</th>
                  <th class="text-right" scope="col">Quantity</th>
                  <th scope="col">City</th>
                  <th scope="col">Address</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let consignee of selectedorderconsignees; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ consignee.contactperson }}</td>
                  <td>{{ consignee.contactno }}</td>
                  <td class="text-right">
                    {{ consignee.quantity | number: "1.3-3" }}
                  </td>
                  <td>{{ consignee.city }}</td>
                  <td>{{ consignee.address }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>