<div class="container-fluid">
  <h5 class="my-2">Personal Account Adjustment</h5>

  <div class="card">
    <div class="card-body">
      <div class="alert alert-success" role="alert" *ngIf="successmsg">
        <i class="fa fa-check"></i> Adjustment added successfully for Personal
        Account.
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-12">
          <label class="m-0">Adjustment Date</label>
          <input
            type="text"
            class="form-control"
            placeholder="Adjustment Date"
            [(ngModel)]="adjustdt"
            (blur)="autoFillArivDt()"
            autofocus
          />
        </div>
        <div class="col-md-4 col-sm-12">
          <label class="m-0">Personal Account</label>
          <input
            type="text"
            class="form-control"
            placeholder="Personal Account"
            [(ngModel)]="personalacc"
            list="personalacclist"
          />
          <datalist id="personalacclist">
            <option
              value="{{ acc.personalaccnm }}"
              *ngFor="let acc of allpersonalaccs"
            >
              {{ acc.personalaccnm }}
            </option>
          </datalist>
        </div>
        <div class="col-md-4 col-sm-12">
          <label class="m-0">Credit / Debit</label>
          <select class="form-control" [(ngModel)]="debtcred">
            <option value="{{ credittext }}">{{ credittext }}</option>
            <option value="{{ debittext }}">{{ debittext }}</option>
          </select>
        </div>
        <div class="col-md-4 col-sm-12 my-3">
          <label class="m-0">Amount</label>
          <input
            type="text"
            class="form-control"
            placeholder="Amount"
            [(ngModel)]="amount"
          />
        </div>
        <div class="col-md col-sm-12 my-3">
          <label class="m-0">Partiulars</label>
          <input
            type="text"
            class="form-control"
            placeholder="Particulars"
            [(ngModel)]="particulars"
          />
        </div>
        <div class="col-md-12 col-sm-12 my-3">
          <button
            class="btn btn-primary"
            [disabled]="!adjustdt || !amount || !particulars || !debtcred"
            (click)="addPersonalAccAdjustment()"
          >
            Adjust Account
          </button>
          <div class="text-danger noprint mt-4 font-weight-bold">
            Note: No effect in CASH / BANK balances.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
