<div class="card">
  <div class="card-body">
    <div class="alert alert-success" role="alert" *ngIf="successflag">
      <i class="fa fa-check"></i> Record deleted successfully.
    </div>
    <h5 class="text-info">
      <span *ngIf="clienttype == 1">All Suppliers</span>
      <span *ngIf="clienttype == 2">All Customers</span>
      <span class="text-success" *ngIf="!allclients">
        <i class="fa fa-circle-o-notch fa-spin text-primary fa-2x"></i
      ></span>
      <span class="text-success" *ngIf="allclients">
        (Total - {{ allclients.length }})</span
      >
    </h5>
    <div class="table-responsive">
      <div class="input-group flex-nowrap mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">
            <i class="fa fa-search"></i>
          </span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Search name"
          aria-label="SearchName"
          [(ngModel)]="searchbox"
          aria-describedby="addon-wrapping"
        />
      </div>

      <table class="table table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Contact</th>
            <th scope="col">Contact Person 1</th>
            <th scope="col">Contact Person no.</th>
            <th scope="col">
              <i class="fa fa-pencil"></i> / <i class="fa fa-trash"></i>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="visibleclients">
          <tr
            *ngFor="
              let client of visibleclients[pageno]
                | searchclient: searchbox:allclients;
              let i = index
            "
          >
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <a
                href="javascript:void(0);"
                data-toggle="modal"
                data-target="#clientModal"
                (click)="selectClient(client)"
                >{{ client.name }}</a
              >
            </td>
            <td>{{ client.contactno }}</td>
            <td>
              {{ client.contactperson1 }}
              <span *ngIf="!client.contactperson1">-</span>
            </td>
            <td>
              {{ client.contactno1 }} <span *ngIf="!client.contactno1">-</span>
            </td>
            <td>
              <a
                href="javascript:void(0);"
                [routerLink]="['/editclient', client.type, client.clientid]"
                class="text-warning mr-2"
                title="Edit"
              >
                <i class="fa fa-pencil"></i>
              </a>
              <a
                href="javascript:void(0);"
                (click)="toConfirmDelete(client)"
                class="text-danger mx-2"
                title="Delete"
                data-toggle="modal"
                data-target="#confirmDeleteModal"
              >
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <nav
        aria-label="Page navigation example"
        class="pl-2"
        *ngIf="pagecount > 1"
      >
        <ul class="pagination">
          <li class="page-item" [ngClass]="{ disabled: disableprevbtn }">
            <a
              class="page-link"
              href="javascript:void(0);"
              aria-label="Previous"
              (click)="goToPrevPage()"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li
            class="page-item"
            *ngFor="let page of visibleclients; let i = index"
            [ngClass]="{ active: pageno == i }"
          >
            <a
              class="page-link"
              href="javascript:void(0);"
              (click)="goToPage(i)"
              >{{ i + 1 }}</a
            >
          </li>
          <li class="page-item" [ngClass]="{ disabled: disablenextbtn }">
            <a
              class="page-link"
              href="javascript:void(0);"
              aria-label="Next"
              (click)="goToNextPage()"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
        <ul class="pagination">
          <li class="page-item">
            <span>Page No: {{ pageno + 1 }}</span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal"
  id="clientModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  *ngIf="selectedclient"
>
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary w-100" id="exampleModalLabel">
          {{ selectedclient.name }}

          <a
            [routerLink]="['/oform', selectedclient.clientid]"
            class="float-right"
            data-dismiss="modal"
            *ngIf="clienttype == 2"
          >
            <i class="fa fa-file-pdf-o"></i> O-Form
          </a>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <dl class="row">
          <dt class="col-sm-3">GST</dt>
          <dd class="col-sm-9">
            <ng-container *ngIf="selectedclient.gstno; else noGST">
              {{ selectedclient.gstno }}
            </ng-container>
            <ng-template #noGST> URP </ng-template>
          </dd>
          <dt class="col-sm-3">Contact Number</dt>
          <dd class="col-sm-9">{{ selectedclient.contactno }}</dd>
          <dt class="col-sm-3">Email</dt>
          <dd class="col-sm-9">{{ selectedclient.email }}</dd>
          <dt class="col-sm-3" *ngIf="selectedclient.contactperson1">
            Contact Person 1
          </dt>
          <dd class="col-sm-9" *ngIf="selectedclient.contactperson1">
            {{ selectedclient.contactperson1 }} -
            <i class="fa fa-phone text-info" aria-hidden="true"></i>
            {{ selectedclient.contactno1 }}
          </dd>
          <dt class="col-sm-3" *ngIf="selectedclient.contactperson2">
            Contact Person 2
          </dt>
          <dd class="col-sm-9" *ngIf="selectedclient.contactperson2">
            {{ selectedclient.contactperson2 }} -
            <i class="fa fa-phone text-info" aria-hidden="true"></i>
            {{ selectedclient.contactno2 }}
          </dd>
          <dt class="col-sm-3">Address</dt>
          <dd class="col-sm-9">{{ selectedclient.address }}</dd>
          <dt class="col-sm-3">City</dt>
          <dd class="col-sm-9">{{ selectedclient.city }}</dd>
          <dt class="col-sm-3">State</dt>
          <dd class="col-sm-9">{{ selectedclient.state }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<!-- Delete Confirmation Modal -->
<div
  class="modal fade"
  id="confirmDeleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  *ngIf="delete_client"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">
          Delete {{ delete_client.name }}?
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>
          Are you sure you want to delete
          <span class="text-info font-weight-bold">{{
            delete_client.name
          }}</span>
          with all its details?
        </h5>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteClient()"
          data-dismiss="modal"
        >
          Yes, Please!
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
