<div class="container-fluid">
  <h5 class="my-3">Add Product</h5>
  <div class="card">
    <div class="card-body">
      <div class="alert alert-success" role="alert" *ngIf="successMsg">
        <i class="fa fa-check"></i> Product added successfully.
      </div>
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <label class="m-0">Product Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Product Name"
            [(ngModel)]="productnm"
          />
        </div>
        <div class="col-sm-3 col-xs-12">
          <label class="m-0">Brand Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Brand Name"
            [(ngModel)]="brandname"
          />
        </div>
        <div class="col-sm-2 col-xs-12">
          <label class="m-0">Opening balance</label>
          <input
            type="text"
            class="form-control"
            placeholder="Opening balance"
            [(ngModel)]="openbal"
          />
        </div>
        <div class="col-sm-2 col-xs-12">
          <label class="m-0">HSN Code</label>
          <input
            type="text"
            class="form-control"
            placeholder="HSN Code"
            [(ngModel)]="hsncode"
          />
        </div>
        <div class="col-sm-2 col-xs-12">
          <label class="m-0">Opening Balance Date</label>
          <input
            type="text"
            class="form-control"
            placeholder="Opening Balance Date"
            [(ngModel)]="openbaldt"
            (blur)="autoFillDt()"
          />
        </div>
        <div class="col-sm-2 col-xs-12 mb-2">
          <button
            class="btn btn-success btn-sm mt-4"
            [disabled]="!productnm || !hsncode || !openbal || !openbaldt"
            (click)="addProduct()"
          >
            Add Product
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-viewproduct></app-viewproduct>
