<div class="indexpg">
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-8 banner-info">
          <h2>
            I'm Planting A Tree To Teach Me To Gather <br />
            Strength From My Deepest Roots
          </h2>
          <button class="btn btn-lg btn-contact my-3">CONTACT US</button>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-md-4 consultation">
      <div class="overlaybg"></div>
      <div class="bannergrid row">
        <div class="col-sm-4"><i class="fa fa-pagelines"></i></div>
        <div class="col-sm-8">
          <h4>Free Consultation</h4>
          <p>
            Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 certprods">
      <div class="overlaybg"></div>
      <div class="bannergrid row">
        <div class="col-sm-4"><i class="fa fa-certificate"></i></div>
        <div class="col-sm-8">
          <h4>Certified Products</h4>
          <p>
            Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 gethelp">
      <div class="overlaybg"></div>
      <div class="bannergrid row">
        <div class="col-sm-4"><i class="fa fa-yelp"></i></div>
        <div class="col-sm-8">
          <h4>Get Help</h4>
          <p>
            Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-white m-0">
    <div class="container">
      <div class="col-sm-12 text-center">
        <h3 class="pt-5 ">
          Latest <span class="colorgreen">News</span> From Plantation
        </h3>
        <img src="assets/images/1.png" alt="" />
        <p class="text-secondary mb-5">
          Morbi viverra lacus commodo felis semper, eu iaculis lectus nulla at
          sapien blandit sollicitudin.
        </p>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="assets/images/3.jpg" class="card-img-top" alt="..." />
            <div class="card-body bg-light">
              <h5 class="card-title">Design & Planting</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img src="assets/images/6.jpg" class="card-img-top" alt="..." />
            <div class="card-body bg-light">
              <h5 class="card-title">Quality & Reliability</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img src="assets/images/5.jpg" class="card-img-top" alt="..." />
            <div class="card-body bg-light">
              <h5 class="card-title">Satisfied Customers</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Row finished -->
    </div>
  </div>
  <!-- bg-white row finished -->

  <div class="row pt-5 bg-white m-0">
    <div class="col-md-6 col-xs-12 bglightgray">
      <h3 class="text-white m10">
        We Work Hard And Make Our Country
        <span class="text-green">Greenery</span>
      </h3>
      <p class="text-white m10 mt-1">
        Nullam pretium euismod orci ac porta. Interdum et malesuada fames ac
        ante ipsum primis in faucibus. Donec at scelerisque dolor, vel placerat
        mi.
      </p>
      <h4 class="text-green m10 mt-4">Our Happy Customers</h4>
      <div class="m10 mt-4 p-0">
        <img src="assets/images/8.png" alt="" class="tractoricon px-2 py-0" />
        <span class="px-5 fontlg text-white">-</span>
        <span class="counter fontlg text-white">23,536</span>
      </div>
      <h5 class="text-green m10 mt-3">... & Counting</h5>
    </div>
    <div class="col-md-6 col-xs-12 palmleaf">
      <h2 class="text-white border border-white p-3 pl-5 m10 bordersm">
        Plantation <span class="colorgreen"> For Future Growth</span>
      </h2>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-md-12 col-xs-12 footerbg">
      <div class="container text-white">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <!-- <img src="assets/images/logo.jpg" alt="" width="200" /> -->
          </div>

          <div class="col-md-4 col-xs-12 mt-5 position-relative pb-2">
            <h4 class="pt-4">Contact Info</h4>
            <div class="greenline position-absolute w-25"></div>
            <br />
            <h6 class="callus">Call Us <span>+1234 567 891</span></h6>
            <p class="mb-1">My Company, 875 Jewel Road</p>
            <p>8907 Ukraine.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
