/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";
@import "~open-iconic/font/css/open-iconic-bootstrap.css";
@import "./assets/css/printprev.css";
body,
html {
  font-family: "Nunito", sans-serif !important;
  /* <-- fonts */
}

body {
  background-color: #dedede;
  font-size: 14px;
}
.dropdown-menu, .form-control{
  font-size: 14px;
}
.btn,
.form-control {
  border-radius: 0px;
}

.colorgreen {
  color: #029545 !important;
}

textarea {
  resize: none;
}

.text-sm{
  font-size: 0.875rem;
}

.text-md{
  font-size: 1rem;
}

.dropdown-item.active,
.dropdown-item:active {
  background: none;
}
/* Index Page */
.banner {
  background-image: url("assets/images/banner.jpg");
  width: 100%;
  height: 450px;
}
.indexpg {
  font-family: "Bree Serif", serif;
}

.banner-info {
  margin: 7em 0 0;
  color: #ffffff;
}

.btn-contact {
  border: 2px solid #a4dd25;
  font-size: 1em;
  padding: 10px 40px;
  color: #ffffff;
}

.btn-contact:hover {
  background-color: #a4dd25;
  color: #000000;
}

.consultation,
.certprods,
.gethelp {
  background-image: url("assets/images/1.jpg");
  width: 100%;
  height: 300px;
}

.overlaybg,.overlaybg-white {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 25, 0.55);
}

.overlaybg-white{
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
}

.spinner{
  position: absolute;
  top: 45%;
  left: 50%;
}

.overlaybg .spinner-text, .overlaybg-white .spinner-text{
  margin-left: -30px;
}

.certprods {
  background-image: url("assets/images/2.jpg");
}
.gethelp {
  background-image: url("assets/images/3.jpg");
}
.bannergrid {
  padding: 3em 3em 0em;
  position: relative;
}

.bannergrid i {
  font-size: 2em;
  color: #fff;
  border: 3px solid #ffffff;
  padding: 2rem;
}

.bannergrid h4 {
  font-size: 1.5em;
  color: #a4dd25;
  margin-bottom: 1em;
}

.bannergrid p {
  color: #fff;
  line-height: 2em;
}

.bglightgray {
  background-color: #029545;
}

.palmleaf {
  background-image: url("assets/images/4.jpg");
  width: 100%;
  min-height: 500px;
}

.m10 {
  margin: 3rem 0px 20px 0rem;
}

.bordersm {
  border-width: 3px !important;
  width: 100%;
}

.tractoricon {
  border: 2px solid #a4dd25;
}

.fontlg {
  font-size: 2rem;
}

.footerbg {
  background-image: url("assets/images/8.jpg");
  width: 100%;
  min-height: 25rem;
  background-size: cover;
  background-position: center;
}

.greenline {
  border-bottom: 2px solid#a4dd25;
}
.text-green {
  color: #ff0 !important;
}
.callus span {
  font-size: 2.4rem;
  display: block;
}

.callus {
  margin-top: 2em;
}

@media (min-width: 768px) {
  .banner {
    height: 650px;
  }
  .banner-info {
    margin: 15em 0 0;
  }
  .bannergrid {
    padding: 7em 3em 0em;
  }
  .m10 {
    margin: 6rem 0px 0px 5rem;
  }
  .bordersm {
    width: 50%;
  }
}

.cursor-pointer {
  cursor: pointer;
}


/* Switch ON-OFF button CSS */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 18px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* SWITCH CSS ENDS */

/* To Print */
/* @media print{
  @page{
      size: 297mm 210mm;
      margin: 0; 
  }
  html,body{
    font-size: 11px;
    overflow: visible;
  }
} */

.col-print-1 {width:8.3333%;  float:left;}
.col-print-2 {width:16.6666%; float:left;}
.col-print-3 {width:25%; float:left;}
.col-print-4 {width:33.3332%; float:left;}
.col-print-5 {width:41.6665%; float:left;}
.col-print-6 {width:50%; float:left;}
.col-print-7 {width:58.3331%; float:left;}
.col-print-8 {width:66.6664%; float:left;}
.col-print-9 {width:75%; float:left;}
.col-print-10{width:83.333%; float:left;}
.col-print-11{width:91.6663%; float:left;}
.col-print-12{width:100%; float:left;}

.invoiceno{
  font-size: 1.2rem;
}

.tablebox{
  border: 1px solid #dee2e6;
  /* height: 400px; */
}
.tablecol{
  border-right: 1px solid #dee2e6;
  text-align: center;
}
.tablecol:last-child{
  border-right: 0px;
  text-align: right;
}

.bordertop{
  border-top: 1px solid #dee2e6;
}

.tableheadrow{
  border-bottom: 1px solid #dee2e6;
}

.datewidth{
  width: 120px;
}

.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text{
  border-radius: 0;
}