<div class="container-fluid">
  <h5 class="my-3">Add Batch</h5>

  <div class="card">
    <div class="card-body">
      <div class="alert alert-success" role="alert" *ngIf="successMsg">
        <i class="fa fa-check"></i> {{ successMsg }}
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <label class="m-0">Batch Id</label>
          <input type="text" class="form-control" [(ngModel)]="batchid" />
        </div>
        <div class="col-md-3 col-sm-12">
          <label class="m-0">Production Date</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="proddate"
            (blur)="autoFillDate()"
            placeholder="Production Date"
          />
        </div>

        <div class="col-md-3 col-sm-12">
          <label class="m-0">Select Product</label>
          <select
            class="form-control"
            [disabled]="!allprods"
            [(ngModel)]="prodid"
            (change)="getAllProdRawmats()"
          >
            <option value="{{ prod.prodid }}" *ngFor="let prod of allprods">
              {{ prod.prodname }}
            </option>
          </select>
          <label class="m-0">
            <strong class="text-primary" *ngIf="prodstk"
              >Available stock: {{ prodstk.quantity }} tons</strong
            >
          </label>
        </div>

        <div class="col-md-3 col-sm-12">
          <label class="m-0">Quantity Produced</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="quantity"
            placeholder="Quantity Produced"
          />
        </div>

        <div class="col-md-12 mt-3" *ngIf="prodid">
          <h6 class="h6 font-weight-bold text-underline text-info">
            Raw Materials used
          </h6>
        </div>
      </div>

      <div class="row my-0" *ngIf="allrawmats">
        <div
          class="col-md-4 mt-0 mb-3"
          *ngFor="let rawmat of allrawmats; let i = index"
        >
          <label class="m-0 text-primary">{{ rawmat.name }}</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter quantity"
            [(ngModel)]="qty[i]"
          />

          <p class="my-1">
            Quantity remained:
            <span
              class="badge"
              [ngClass]="{
                'badge-info': rawmat.quantity != 0,
                'badge-danger': rawmat.quantity <= 0
              }"
              >{{ rawmat.quantity }}</span
            >
          </p>
        </div>
      </div>

      <div class="row my-0" *ngIf="!allrawmats && prodid">
        <div class="col-md-12">
          <h6 class="text-danger">
            Please assign raw material to selected product.
            <a [routerLink]="['/assignrawmatprod']">Click here</a> to assign.
          </h6>
        </div>
      </div>

      <div class="row my-0" *ngIf="allrawmats">
        <div class="col-md-12">
          <button
            class="btn btn-primary"
            (click)="addBatch()"
            [disabled]="!proddate || !prodid || !quantity || disableaddbtn"
          >
            Add Batch
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
